include clingo-4.4.0-source/CHANGES
include clingo-4.4.0-source/COPYING
include clingo-4.4.0-source/libgringo/src/term.cc
include clingo-4.4.0-source/libgringo/src/terms.cc
include clingo-4.4.0-source/libgringo/src/input/nongroundlexer.xh
include clingo-4.4.0-source/libgringo/src/input/programbuilder.cc
include clingo-4.4.0-source/libgringo/src/input/program.cc
include clingo-4.4.0-source/libgringo/src/input/literal.cc
include clingo-4.4.0-source/libgringo/src/input/literals.cc
include clingo-4.4.0-source/libgringo/src/input/nongroundparser.cc
include clingo-4.4.0-source/libgringo/src/input/aggregate.cc
include clingo-4.4.0-source/libgringo/src/input/aggregates.cc
include clingo-4.4.0-source/libgringo/src/input/nongroundgrammar.yy
include clingo-4.4.0-source/libgringo/src/input/statement.cc
include clingo-4.4.0-source/libgringo/src/ground/program.cc
include clingo-4.4.0-source/libgringo/src/ground/literals.cc
include clingo-4.4.0-source/libgringo/src/ground/instantiation.cc
include clingo-4.4.0-source/libgringo/src/ground/statements.cc
include clingo-4.4.0-source/libgringo/src/lua.cc
include clingo-4.4.0-source/libgringo/src/output/output.cc
include clingo-4.4.0-source/libgringo/src/output/literals.cc
include clingo-4.4.0-source/libgringo/src/output/statements.cc
include clingo-4.4.0-source/libgringo/src/scripts.cc
include clingo-4.4.0-source/libgringo/src/python.cc
include clingo-4.4.0-source/libgringo/tests/utility.cc
include clingo-4.4.0-source/libgringo/tests/intervals.cc
include clingo-4.4.0-source/libgringo/tests/term.cc
include clingo-4.4.0-source/libgringo/tests/value.cc
include clingo-4.4.0-source/libgringo/tests/input/aggregate_helper.hh
include clingo-4.4.0-source/libgringo/tests/input/programbuilder.cc
include clingo-4.4.0-source/libgringo/tests/input/nongroundgrammar.cc
include clingo-4.4.0-source/libgringo/tests/input/program.cc
include clingo-4.4.0-source/libgringo/tests/input/literal.cc
include clingo-4.4.0-source/libgringo/tests/input/aggregate.cc
include clingo-4.4.0-source/libgringo/tests/input/lit_helper.hh
include clingo-4.4.0-source/libgringo/tests/input/nongroundlexer.cc
include clingo-4.4.0-source/libgringo/tests/ground/program.cc
include clingo-4.4.0-source/libgringo/tests/ground/literal.cc
include clingo-4.4.0-source/libgringo/tests/ground/dependency.cc
include clingo-4.4.0-source/libgringo/tests/ground/instantiation.cc
include clingo-4.4.0-source/libgringo/tests/unique_list.cc
include clingo-4.4.0-source/libgringo/tests/lua.cc
include clingo-4.4.0-source/libgringo/tests/output/solver_helper.hh
include clingo-4.4.0-source/libgringo/tests/output/incremental.cc
include clingo-4.4.0-source/libgringo/tests/output/lparse.cc
include clingo-4.4.0-source/libgringo/tests/output/aspcomp13.cc
include clingo-4.4.0-source/libgringo/tests/output/warnings.cc
include clingo-4.4.0-source/libgringo/tests/python.cc
include clingo-4.4.0-source/libgringo/tests/tests.hh
include clingo-4.4.0-source/libgringo/tests/main.cc
include clingo-4.4.0-source/libgringo/tests/term_helper.hh
include clingo-4.4.0-source/libgringo/tests/graph.cc
include clingo-4.4.0-source/libgringo/tests/flyweight.cc
include clingo-4.4.0-source/libgringo/tests/safetycheck.cc
include clingo-4.4.0-source/libgringo/gringo/lua.hh
include clingo-4.4.0-source/libgringo/gringo/flyweight.hh
include clingo-4.4.0-source/libgringo/gringo/safetycheck.hh
include clingo-4.4.0-source/libgringo/gringo/domain.hh
include clingo-4.4.0-source/libgringo/gringo/printable.hh
include clingo-4.4.0-source/libgringo/gringo/bug.hh
include clingo-4.4.0-source/libgringo/gringo/base.hh
include clingo-4.4.0-source/libgringo/gringo/input/programbuilder.hh
include clingo-4.4.0-source/libgringo/gringo/input/literal.hh
include clingo-4.4.0-source/libgringo/gringo/input/aggregates.hh
include clingo-4.4.0-source/libgringo/gringo/input/literals.hh
include clingo-4.4.0-source/libgringo/gringo/input/statement.hh
include clingo-4.4.0-source/libgringo/gringo/input/aggregate.hh
include clingo-4.4.0-source/libgringo/gringo/input/nongroundparser.hh
include clingo-4.4.0-source/libgringo/gringo/input/program.hh
include clingo-4.4.0-source/libgringo/gringo/backtrace.hh
include clingo-4.4.0-source/libgringo/gringo/ground/literal.hh
include clingo-4.4.0-source/libgringo/gringo/ground/statements.hh
include clingo-4.4.0-source/libgringo/gringo/ground/literals.hh
include clingo-4.4.0-source/libgringo/gringo/ground/statement.hh
include clingo-4.4.0-source/libgringo/gringo/ground/binders.hh
include clingo-4.4.0-source/libgringo/gringo/ground/dependency.hh
include clingo-4.4.0-source/libgringo/gringo/ground/instantiation.hh
include clingo-4.4.0-source/libgringo/gringo/ground/program.hh
include clingo-4.4.0-source/libgringo/gringo/utility.hh
include clingo-4.4.0-source/libgringo/gringo/output/literal.hh
include clingo-4.4.0-source/libgringo/gringo/output/statements.hh
include clingo-4.4.0-source/libgringo/gringo/output/literals.hh
include clingo-4.4.0-source/libgringo/gringo/output/statement.hh
include clingo-4.4.0-source/libgringo/gringo/output/lparseoutputter.hh
include clingo-4.4.0-source/libgringo/gringo/output/output.hh
include clingo-4.4.0-source/libgringo/gringo/comparable.hh
include clingo-4.4.0-source/libgringo/gringo/terms.hh
include clingo-4.4.0-source/libgringo/gringo/lexerstate.hh
include clingo-4.4.0-source/libgringo/gringo/hashable.hh
include clingo-4.4.0-source/libgringo/gringo/intervals.hh
include clingo-4.4.0-source/libgringo/gringo/value.hh
include clingo-4.4.0-source/libgringo/gringo/scripts.hh
include clingo-4.4.0-source/libgringo/gringo/term.hh
include clingo-4.4.0-source/libgringo/gringo/control.hh
include clingo-4.4.0-source/libgringo/gringo/clonable.hh
include clingo-4.4.0-source/libgringo/gringo/locatable.hh
include clingo-4.4.0-source/libgringo/gringo/python.hh
include clingo-4.4.0-source/libgringo/gringo/logger.hh
include clingo-4.4.0-source/libgringo/gringo/version.hh
include clingo-4.4.0-source/libgringo/gringo/unique_list.hh
include clingo-4.4.0-source/libgringo/gringo/graph.hh
include clingo-4.4.0-source/.sconsign.dblite
include clingo-4.4.0-source/build/release.py
include clingo-4.4.0-source/build/release.log
include clingo-4.4.0-source/build/release/libgringo/src/input/nongroundgrammar/stack.hh
include clingo-4.4.0-source/README
include clingo-4.4.0-source/.clang_complete
include clingo-4.4.0-source/NOTES
include clingo-4.4.0-source/INSTALL
include clingo-4.4.0-source/.sconf_temp/conftest_0.y
include clingo-4.4.0-source/.sconf_temp/conftest_2.o
include clingo-4.4.0-source/.sconf_temp/conftest_4.o
include clingo-4.4.0-source/.sconf_temp/conftest_7
include clingo-4.4.0-source/.sconf_temp/conftest_3
include clingo-4.4.0-source/.sconf_temp/conftest_8
include clingo-4.4.0-source/.sconf_temp/conftest_2.cpp
include clingo-4.4.0-source/.sconf_temp/conftest_8.cpp
include clingo-4.4.0-source/.sconf_temp/conftest_1.x
include clingo-4.4.0-source/.sconf_temp/conftest_5
include clingo-4.4.0-source/.sconf_temp/conftest_9.o
include clingo-4.4.0-source/.sconf_temp/conftest_7.cc
include clingo-4.4.0-source/.sconf_temp/conftest_8.o
include clingo-4.4.0-source/.sconf_temp/conftest_0
include clingo-4.4.0-source/.sconf_temp/conftest_5.o
include clingo-4.4.0-source/.sconf_temp/conftest_4
include clingo-4.4.0-source/.sconf_temp/conftest_3.cpp
include clingo-4.4.0-source/.sconf_temp/conftest_4.cpp
include clingo-4.4.0-source/.sconf_temp/conftest_3.cc
include clingo-4.4.0-source/.sconf_temp/conftest_9
include clingo-4.4.0-source/.sconf_temp/conftest_3.os
include clingo-4.4.0-source/.sconf_temp/conftest_7.o
include clingo-4.4.0-source/.sconf_temp/conftest_6.o
include clingo-4.4.0-source/.sconf_temp/conftest_6.cc
include clingo-4.4.0-source/.sconf_temp/conftest_5.cc
include clingo-4.4.0-source/.sconf_temp/conftest_4.cc
include clingo-4.4.0-source/.sconf_temp/conftest_6
include clingo-4.4.0-source/.sconf_temp/conftest_9.cc
include clingo-4.4.0-source/.sconf_temp/conftest_3.o
include clingo-4.4.0-source/app/shared/include/clingocontrol.hh
include clingo-4.4.0-source/app/shared/src/clingocontrol.cc
include clingo-4.4.0-source/app/luaclingo/src/clingo_lib.hh
include clingo-4.4.0-source/app/luaclingo/src/clingo_lib.cc
include clingo-4.4.0-source/app/luaclingo/src/main.cc
include clingo-4.4.0-source/app/clingo/src/clingo_app.hh
include clingo-4.4.0-source/app/clingo/src/clingo_app.cc
include clingo-4.4.0-source/app/clingo/src/main.cc
include clingo-4.4.0-source/app/clingo/src/clasp/clasp_app.h
include clingo-4.4.0-source/app/clingo/src/clasp/clasp_app.cpp
include clingo-4.4.0-source/app/clingo/tests/lua/conformant2.lp
include clingo-4.4.0-source/app/clingo/tests/lua/assumptions2.lp
include clingo-4.4.0-source/app/clingo/tests/lua/csp-shrinking.sol
include clingo-4.4.0-source/app/clingo/tests/lua/conformant1.lp
include clingo-4.4.0-source/app/clingo/tests/lua/queens.sol
include clingo-4.4.0-source/app/clingo/tests/lua/toh.sol
include clingo-4.4.0-source/app/clingo/tests/lua/iclingo.sol
include clingo-4.4.0-source/app/clingo/tests/lua/assumptions4.lp
include clingo-4.4.0-source/app/clingo/tests/lua/externals.lp
include clingo-4.4.0-source/app/clingo/tests/lua/sokoban.lp
include clingo-4.4.0-source/app/clingo/tests/lua/externals.sol
include clingo-4.4.0-source/app/clingo/tests/lua/show.lp
include clingo-4.4.0-source/app/clingo/tests/lua/unsat-sync.sol
include clingo-4.4.0-source/app/clingo/tests/lua/assumptions1.lp
include clingo-4.4.0-source/app/clingo/tests/lua/test.lp
include clingo-4.4.0-source/app/clingo/tests/lua/conformant2.sol
include clingo-4.4.0-source/app/clingo/tests/lua/conformant1.sol
include clingo-4.4.0-source/app/clingo/tests/lua/assumptions2.sol
include clingo-4.4.0-source/app/clingo/tests/lua/toh.lp
include clingo-4.4.0-source/app/clingo/tests/lua/blocksworld1.sol
include clingo-4.4.0-source/app/clingo/tests/lua/solitaire_sort.sol
include clingo-4.4.0-source/app/clingo/tests/lua/assumptions4.sol
include clingo-4.4.0-source/app/clingo/tests/lua/robots.lp
include clingo-4.4.0-source/app/clingo/tests/lua/setconfig.lp
include clingo-4.4.0-source/app/clingo/tests/lua/sokoban.sol
include clingo-4.4.0-source/app/clingo/tests/lua/interrupt.sol
include clingo-4.4.0-source/app/clingo/tests/lua/test.sol
include clingo-4.4.0-source/app/clingo/tests/lua/queens.lp
include clingo-4.4.0-source/app/clingo/tests/lua/unsat-sync.lp
include clingo-4.4.0-source/app/clingo/tests/lua/conformant3.lp
include clingo-4.4.0-source/app/clingo/tests/lua/iclingo.lp
include clingo-4.4.0-source/app/clingo/tests/lua/assumptions1.sol
include clingo-4.4.0-source/app/clingo/tests/lua/setconfig.sol
include clingo-4.4.0-source/app/clingo/tests/lua/assumptions3.sol
include clingo-4.4.0-source/app/clingo/tests/lua/unsat-async.lp
include clingo-4.4.0-source/app/clingo/tests/lua/csp-shrinking.lp
include clingo-4.4.0-source/app/clingo/tests/lua/sokoban_back.lp
include clingo-4.4.0-source/app/clingo/tests/lua/assumptions3.lp
include clingo-4.4.0-source/app/clingo/tests/lua/solitaire_sort.lp
include clingo-4.4.0-source/app/clingo/tests/lua/solitaire_para.sol
include clingo-4.4.0-source/app/clingo/tests/lua/sokoban_para.lp
include clingo-4.4.0-source/app/clingo/tests/lua/show.sol
include clingo-4.4.0-source/app/clingo/tests/lua/interrupt.lp
include clingo-4.4.0-source/app/clingo/tests/lua/unsat-async.sol
include clingo-4.4.0-source/app/clingo/tests/lua/solitaire_para.lp
include clingo-4.4.0-source/app/clingo/tests/lua/sokoban_para.sol
include clingo-4.4.0-source/app/clingo/tests/lua/robots.sol
include clingo-4.4.0-source/app/clingo/tests/lua/conformant3.sol
include clingo-4.4.0-source/app/clingo/tests/lua/sokoban_back.sol
include clingo-4.4.0-source/app/clingo/tests/lua/blocksworld1.lp
include clingo-4.4.0-source/app/clingo/tests/python/assumptions2.lp
include clingo-4.4.0-source/app/clingo/tests/python/queens.sol
include clingo-4.4.0-source/app/clingo/tests/python/iclingo.sol
include clingo-4.4.0-source/app/clingo/tests/python/assumptions4.lp
include clingo-4.4.0-source/app/clingo/tests/python/externals.lp
include clingo-4.4.0-source/app/clingo/tests/python/sokoban.lp
include clingo-4.4.0-source/app/clingo/tests/python/externals.sol
include clingo-4.4.0-source/app/clingo/tests/python/show.lp
include clingo-4.4.0-source/app/clingo/tests/python/assumptions1.lp
include clingo-4.4.0-source/app/clingo/tests/python/test.lp
include clingo-4.4.0-source/app/clingo/tests/python/assumptions2.sol
include clingo-4.4.0-source/app/clingo/tests/python/blocksworld1.sol
include clingo-4.4.0-source/app/clingo/tests/python/project.sol
include clingo-4.4.0-source/app/clingo/tests/python/assumptions4.sol
include clingo-4.4.0-source/app/clingo/tests/python/project.lp
include clingo-4.4.0-source/app/clingo/tests/python/sokoban.cmd
include clingo-4.4.0-source/app/clingo/tests/python/setconfig.lp
include clingo-4.4.0-source/app/clingo/tests/python/sokoban.sol
include clingo-4.4.0-source/app/clingo/tests/python/interrupt.sol
include clingo-4.4.0-source/app/clingo/tests/python/test.sol
include clingo-4.4.0-source/app/clingo/tests/python/queens.lp
include clingo-4.4.0-source/app/clingo/tests/python/iclingo.lp
include clingo-4.4.0-source/app/clingo/tests/python/assumptions1.sol
include clingo-4.4.0-source/app/clingo/tests/python/setconfig.sol
include clingo-4.4.0-source/app/clingo/tests/python/assumptions3.sol
include clingo-4.4.0-source/app/clingo/tests/python/assumptions3.lp
include clingo-4.4.0-source/app/clingo/tests/python/show.sol
include clingo-4.4.0-source/app/clingo/tests/python/interrupt.lp
include clingo-4.4.0-source/app/clingo/tests/python/blocksworld1.lp
include clingo-4.4.0-source/app/clingo/tests/run.sh
include clingo-4.4.0-source/app/pyclingo/src/clingo_lib.hh
include clingo-4.4.0-source/app/pyclingo/src/clingo_lib.cc
include clingo-4.4.0-source/app/pyclingo/src/main.cc
include clingo-4.4.0-source/app/gringo/main.cc
include clingo-4.4.0-source/libprogram_opts/program_opts/application.h
include clingo-4.4.0-source/libprogram_opts/program_opts/value.h
include clingo-4.4.0-source/libprogram_opts/program_opts/mapped_value.h
include clingo-4.4.0-source/libprogram_opts/program_opts/typed_value.h
include clingo-4.4.0-source/libprogram_opts/program_opts/string_convert.h
include clingo-4.4.0-source/libprogram_opts/program_opts/program_options.h
include clingo-4.4.0-source/libprogram_opts/program_opts/detail/notifier.h
include clingo-4.4.0-source/libprogram_opts/program_opts/detail/refcountable.h
include clingo-4.4.0-source/libprogram_opts/program_opts/detail/alarm.h
include clingo-4.4.0-source/libprogram_opts/program_opts/detail/value_store.h
include clingo-4.4.0-source/libprogram_opts/program_opts/value_store.h
include clingo-4.4.0-source/libprogram_opts/program_opts/errors.h
include clingo-4.4.0-source/libprogram_opts/src/alarm.cpp
include clingo-4.4.0-source/libprogram_opts/src/string_convert.cpp
include clingo-4.4.0-source/libprogram_opts/src/program_options.cpp
include clingo-4.4.0-source/libprogram_opts/src/application.cpp
include clingo-4.4.0-source/libprogram_opts/src/value_store.cpp
include clingo-4.4.0-source/SConstruct
include clingo-4.4.0-source/libclasp/src/parallel_solve.cpp
include clingo-4.4.0-source/libclasp/src/logic_program_types.cpp
include clingo-4.4.0-source/libclasp/src/enumerator.cpp
include clingo-4.4.0-source/libclasp/src/weight_constraint.cpp
include clingo-4.4.0-source/libclasp/src/solver.cpp
include clingo-4.4.0-source/libclasp/src/constraint.cpp
include clingo-4.4.0-source/libclasp/src/asp_preprocessor.cpp
include clingo-4.4.0-source/libclasp/src/dependency_graph.cpp
include clingo-4.4.0-source/libclasp/src/parser.cpp
include clingo-4.4.0-source/libclasp/src/clause.cpp
include clingo-4.4.0-source/libclasp/src/solve_algorithms.cpp
include clingo-4.4.0-source/libclasp/src/clasp_output.cpp
include clingo-4.4.0-source/libclasp/src/shared_context.cpp
include clingo-4.4.0-source/libclasp/src/solver_types.cpp
include clingo-4.4.0-source/libclasp/src/model_enumerators.cpp
include clingo-4.4.0-source/libclasp/src/unfounded_check.cpp
include clingo-4.4.0-source/libclasp/src/timer.cpp
include clingo-4.4.0-source/libclasp/src/cb_enumerator.cpp
include clingo-4.4.0-source/libclasp/src/lookahead.cpp
include clingo-4.4.0-source/libclasp/src/heuristics.cpp
include clingo-4.4.0-source/libclasp/src/program_builder.cpp
include clingo-4.4.0-source/libclasp/src/solver_strategies.cpp
include clingo-4.4.0-source/libclasp/src/clasp_facade.cpp
include clingo-4.4.0-source/libclasp/src/satelite.cpp
include clingo-4.4.0-source/libclasp/src/logic_program.cpp
include clingo-4.4.0-source/libclasp/src/minimize_constraint.cpp
include clingo-4.4.0-source/libclasp/src/clasp_options.cpp
include clingo-4.4.0-source/libclasp/clasp/clasp_facade.h
include clingo-4.4.0-source/libclasp/clasp/solver_types.h
include clingo-4.4.0-source/libclasp/clasp/claspfwd.h
include clingo-4.4.0-source/libclasp/clasp/constraint.h
include clingo-4.4.0-source/libclasp/clasp/program_builder.h
include clingo-4.4.0-source/libclasp/clasp/util/misc_types.h
include clingo-4.4.0-source/libclasp/clasp/util/timer.h
include clingo-4.4.0-source/libclasp/clasp/util/thread.h
include clingo-4.4.0-source/libclasp/clasp/util/left_right_sequence.h
include clingo-4.4.0-source/libclasp/clasp/util/multi_queue.h
include clingo-4.4.0-source/libclasp/clasp/util/atomic.h
include clingo-4.4.0-source/libclasp/clasp/util/mutex.h
include clingo-4.4.0-source/libclasp/clasp/util/platform.h
include clingo-4.4.0-source/libclasp/clasp/util/pod_vector.h
include clingo-4.4.0-source/libclasp/clasp/util/indexed_priority_queue.h
include clingo-4.4.0-source/libclasp/clasp/util/type_manip.h
include clingo-4.4.0-source/libclasp/clasp/shared_context.h
include clingo-4.4.0-source/libclasp/clasp/cli/clasp_options.h
include clingo-4.4.0-source/libclasp/clasp/cli/clifwd.h
include clingo-4.4.0-source/libclasp/clasp/cli/clasp_cli_configs.inl
include clingo-4.4.0-source/libclasp/clasp/cli/clasp_output.h
include clingo-4.4.0-source/libclasp/clasp/cli/clasp_cli_options.inl
include clingo-4.4.0-source/libclasp/clasp/minimize_constraint.h
include clingo-4.4.0-source/libclasp/clasp/logic_program_types.h
include clingo-4.4.0-source/libclasp/clasp/heuristics.h
include clingo-4.4.0-source/libclasp/clasp/weight_constraint.h
include clingo-4.4.0-source/libclasp/clasp/lookahead.h
include clingo-4.4.0-source/libclasp/clasp/cb_enumerator.h
include clingo-4.4.0-source/libclasp/clasp/asp_preprocessor.h
include clingo-4.4.0-source/libclasp/clasp/enumerator.h
include clingo-4.4.0-source/libclasp/clasp/model_enumerators.h
include clingo-4.4.0-source/libclasp/clasp/literal.h
include clingo-4.4.0-source/libclasp/clasp/parallel_solve.h
include clingo-4.4.0-source/libclasp/clasp/logic_program.h
include clingo-4.4.0-source/libclasp/clasp/satelite.h
include clingo-4.4.0-source/libclasp/clasp/solver_strategies.h
include clingo-4.4.0-source/libclasp/clasp/clause.h
include clingo-4.4.0-source/libclasp/clasp/pod_vector.h
include clingo-4.4.0-source/libclasp/clasp/solver.h
include clingo-4.4.0-source/libclasp/clasp/solve_algorithms.h
include clingo-4.4.0-source/libclasp/clasp/parser.h
include clingo-4.4.0-source/libclasp/clasp/dependency_graph.h
include clingo-4.4.0-source/libclasp/clasp/unfounded_check.h
include clingo-4.4.0-source/SConscript
include clingo-4.4.0-source/examples/asp/queens/queens1.lp
include clingo-4.4.0-source/examples/asp/queens/README
include clingo-4.4.0-source/examples/asp/queens/queens2.lp
include clingo-4.4.0-source/examples/asp/rec-cond/encoding.lp
include clingo-4.4.0-source/examples/asp/rec-cond/instance.lp
include clingo-4.4.0-source/examples/asp/rec-cond/README
include clingo-4.4.0-source/examples/asp/gbie/instances/sat_03.lp
include clingo-4.4.0-source/examples/asp/gbie/instances/unsat_01.lp
include clingo-4.4.0-source/examples/asp/gbie/instances/unsat_02.lp
include clingo-4.4.0-source/examples/asp/gbie/instances/sat_01.lp
include clingo-4.4.0-source/examples/asp/gbie/instances/sat_02.lp
include clingo-4.4.0-source/examples/asp/gbie/gbie1.lp
include clingo-4.4.0-source/examples/asp/gbie/README
include clingo-4.4.0-source/examples/asp/gbie/gbie2.lp
include clingo-4.4.0-source/examples/asp/toh/tohE.lp
include clingo-4.4.0-source/examples/asp/toh/README
include clingo-4.4.0-source/examples/asp/toh/tohI.lp
include clingo-4.4.0-source/examples/scripting/solve-async/program.lp
include clingo-4.4.0-source/examples/scripting/solve-async/README
include clingo-4.4.0-source/examples/scripting/solve-async/solve-async-py.lp
include clingo-4.4.0-source/examples/scripting/solve-async/solve-async-lua.lp
include clingo-4.4.0-source/examples/scripting/setconf/setconf-lua.lp
include clingo-4.4.0-source/examples/scripting/setconf/setconf-py.lp
include clingo-4.4.0-source/examples/scripting/setconf/README
include clingo-4.4.0-source/examples/scripting/ipython/README
include clingo-4.4.0-source/examples/scripting/ipython/ipython.py
include clingo-4.4.0-source/examples/scripting/consequences/example.lp
include clingo-4.4.0-source/examples/scripting/consequences/README
include clingo-4.4.0-source/examples/scripting/consequences/brave-py.lp
include clingo-4.4.0-source/examples/scripting/consequences/brave-lua.lp
include clingo-4.4.0-source/examples/scripting/include/encoding-py.lp
include clingo-4.4.0-source/examples/scripting/include/encoding-lua.lp
include clingo-4.4.0-source/examples/scripting/include/README
include clingo-4.4.0-source/examples/scripting/include/include.lp
include clingo-4.4.0-source/examples/scripting/external/external-py.lp
include clingo-4.4.0-source/examples/scripting/external/external-lua.lp
include clingo-4.4.0-source/examples/scripting/external/external.lp
include clingo-4.4.0-source/examples/scripting/external/README
include clingo-4.4.0-source/examples/scripting/planning/planning-lua.lp
include clingo-4.4.0-source/examples/scripting/planning/encoding.lp
include clingo-4.4.0-source/examples/scripting/planning/instances/comm05.lp
include clingo-4.4.0-source/examples/scripting/planning/instances/comm02.lp
include clingo-4.4.0-source/examples/scripting/planning/instances/comm03.lp
include clingo-4.4.0-source/examples/scripting/planning/instances/uts01.lp
include clingo-4.4.0-source/examples/scripting/planning/instances/coins01.lp
include clingo-4.4.0-source/examples/scripting/planning/README
include clingo-4.4.0-source/examples/scripting/planning/convert.sh
include clingo-4.4.0-source/examples/scripting/planning/convert.lp
include clingo-4.4.0-source/examples/scripting/enum-assumption/example-lua.lp
include clingo-4.4.0-source/examples/scripting/enum-assumption/README
include clingo-4.4.0-source/examples/scripting/enum-assumption/example-py.lp
include clingo-4.4.0-source/examples/scripting/blocksworld/world.lp
include clingo-4.4.0-source/examples/scripting/blocksworld/lua.lp
include clingo-4.4.0-source/examples/scripting/blocksworld/control_01.lua
include clingo-4.4.0-source/examples/scripting/blocksworld/README
include clingo-4.4.0-source/examples/scripting/blocksworld/blocks_01.lp
include clingo-4.4.0-source/examples/scripting/blocksworld/control_01.out
include clingo-4.4.0-source/examples/scripting/blocksworld/lua_interpret.lp
include clingo-4.4.0-source/examples/scripting/commit/encoding.lp
include clingo-4.4.0-source/examples/scripting/commit/commit-py.lp
include clingo-4.4.0-source/examples/scripting/commit/commit-lua.lp
include clingo-4.4.0-source/examples/scripting/commit/README
include clingo-4.4.0-source/examples/scripting/onmodel/onmodel-lua.lp
include clingo-4.4.0-source/examples/scripting/onmodel/onmodel-py.lp
include clingo-4.4.0-source/examples/scripting/onmodel/README
include clingo-4.4.0-source/examples/scripting/stats/example.lp
include clingo-4.4.0-source/examples/scripting/stats/README
include clingo-4.4.0-source/examples/scripting/stats/stats-py.lp
include clingo-4.4.0-source/examples/scripting/stats/stats-lua.lp
include clingo-4.4.0-source/examples/scripting/iclingo/iclingo-int.lp
include clingo-4.4.0-source/examples/scripting/iclingo/example.lp
include clingo-4.4.0-source/examples/scripting/iclingo/README
include clingo-4.4.0-source/examples/scripting/iclingo/iclingo-py.lp
include clingo-4.4.0-source/examples/scripting/iclingo/iclingo-lua.lp
include clingo-4.4.0-source/examples/scripting/load/load-lua.lp
include clingo-4.4.0-source/examples/scripting/load/program.lp
include clingo-4.4.0-source/examples/scripting/load/README
include clingo-4.4.0-source/examples/scripting/load/load-py.lp
include clingo-4.4.0-source/examples/scripting/context/encoding.lp
include clingo-4.4.0-source/examples/scripting/context/README
include clingo-4.4.0-source/examples/scripting/context/context-py.lp
include clingo-4.4.0-source/examples/scripting/context/context-lua.lp
include clingo-4.4.0-source/examples/scripting/solitaire/visualize.py
include clingo-4.4.0-source/examples/scripting/solitaire/instance.lp
include clingo-4.4.0-source/examples/scripting/solitaire/README
include clingo-4.4.0-source/examples/scripting/solitaire/solitaire.lp
include clingo-4.4.0-source/examples/scripting/controller/README
include clingo-4.4.0-source/examples/scripting/controller/client-lua.lp
include clingo-4.4.0-source/examples/scripting/controller/client-py.lp
include clingo-4.4.0-source/examples/scripting/controller/server.py
include clingo-4.4.0-source/examples/scripting/controller/client.lp
include clingo-4.4.0-source/examples/scripting/addclause/addclause-lua.lp
include clingo-4.4.0-source/examples/scripting/addclause/README
include clingo-4.4.0-source/examples/scripting/addclause/addclause-py.lp
include clingo-4.4.0-source/examples/scripting/itersolve/program.lp
include clingo-4.4.0-source/examples/scripting/itersolve/itersolve-py.lp
include clingo-4.4.0-source/examples/scripting/itersolve/README
include clingo-4.4.0-source/examples/scripting/itersolve/itersolve-lua.lp
include clingo-4.4.0-source/examples/scripting/pydoc/README
include clingo-4.4.0-source/examples/scripting/pydoc/pydoc.lp
include clingo-4.4.0-source/examples/scripting/pydoc/pydoc-lib.py
include clingo-4.4.0-source/examples/scripting/incqueens/README
include clingo-4.4.0-source/examples/scripting/incqueens/incqueens.lp
include clingo-4.4.0-source/examples/scripting/incqueens/incqueens-lua.lp
include clingo-4.4.0-source/examples/scripting/incqueens/incqueens-py.lp
include clingo-4.4.0-source/examples/scripting/unblock/unblock.lp
include clingo-4.4.0-source/examples/scripting/unblock/visualize.py
include clingo-4.4.0-source/examples/scripting/unblock/inst2.lp
include clingo-4.4.0-source/examples/scripting/unblock/README
include clingo-4.4.0-source/examples/scripting/unblock/inst4.lp
include clingo-4.4.0-source/examples/scripting/unblock/inst3.lp
include clingo-4.4.0-source/examples/scripting/unblock/inst5.lp
include clingo-4.4.0-source/examples/scripting/unblock/inst1.lp
